<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/afa73107-6ef7-446e-a5dd-b9d1941e6b62/resourceGroups/yasar4458_group-be9a/providers/Microsoft.Web/sites/yasar4458</ResourceId>
    <ResourceGroup>yasar4458_group-be9a</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://yasar4458.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bddc1e3c-2657-4791-a60d-8d2b2e93cdb5</ProjectGuid>
    <PublishUrl>https://yasar4458.scm.azurewebsites.net/</PublishUrl>
    <UserName>$yasar4458</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>